<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Lista de persona</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
            <h1>Listar persona</h1>
            <div class="acciones-superiores">
                <a th:text="${'Agregar persona'}" th:href="@{/addpersona}"></a>
                <a th:href="@{/}">Volver</a>
            </div>

            <hr/>
            <p th:text="${mensaje}"></p>
            <form th:action="@{/buscarnombre}" method="get">
                <p>Buscar nombre: </p><input type="text" name="nombre"/>
                <input type="submit" value="Buscar">
            </form>
            <br/>
            <div th:if="${listapersona != null and !listapersona.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Ítem</th>
                            <th>Codigo</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="person,contador : ${listapersona}">
                            <td data-label="Ítem" th:text="${contador.count}"></td>
                            <td data-label="Ítem" th:text="${person.codigo}"></td>
                            <td data-label="Razón Social" th:text="${person?.nombre}"></td>
                            <td th:text="${person.apellido}"></td>
                            <td th:text="${person.correo}"></td>
                            <td th:text="${person.celular}"></td>
                            <td th:text="${person.direccion}"></td>
                            <td data-label="Acciones">
                                <a th:href="@{'/eliminarpersona/' + ${person.codigo}}"
                                   onclick="return confirm('¿Está seguro de eliminar esta persona?')">Eliminar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${listapersona == null or listapersona.empty}" class="vacio">
                <p>La lista de personas se encuentra vacía</p>
            </div>
        </div>
    </body>
</html>
