<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{test/plantilla::estilospagina}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="">Productos</a>
            <a href="">Quienes somos</a>
            <a href="">Servicios</a>
            <a href="">Contactenos</a>
        </nav>
        
        <section>
            <h2>parrafo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, maxime.</p>
        </section>
        <footer>miguelarango3777@hotmail.com</footer>
    </div>
</body>
</html>